affine==2.4.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
cligj==0.7.2
cloudpickle==3.1.2
contextily==1.7.1
contourpy==1.3.3
cycler==0.12.1
Farama-Notifications==0.0.6
fastapi==0.140.13
filelock==3.30.3
fonttools==4.63.0
fsspec==2026.6.0
geographiclib==2.1
geopandas==1.1.4
geopy==2.5.0
gymnasium==1.3.0
h11==0.16.0
idna==3.18
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.11.0
mercantile==1.2.1
mpmath==1.3.0
networkx==3.6.1
numpy==2.5.1
osmnx==2.1.1
packaging==26.2
pandas==3.0.5
pettingzoo==1.26.1
pillow==12.3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyogrio==0.13.0
pyparsing==3.3.2
pyproj==3.7.2
python-dateutil==2.9.0.post0
rasterio==1.5.0
requests==2.34.2
setuptools==83.0.0
shapely==2.1.2
six==1.17.0
starlette==1.3.1
sympy==1.14.0
torch==2.13.0
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
uvicorn==0.51.0
websockets==16.1.1
xyzservices==2026.3.0
